name: "Main: Test"

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout branch
        uses: actions/checkout@v2

      - name: Set up Node.js 14.17.1
        uses: actions/setup-node@v1
        with:
          node-version: 14.17.1

      - name: Install dependencies
        run: npm install

      - name: Test with Jest
        run: npm run test
